In [45]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [22]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [24]:
# Convert categorical data to numeric and separate target feature for training data

dependent_columns= ["loan_amnt","int_rate","installment", "home_ownership","annual_inc","verification_status", "pymnt_plan", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim",	"total_bal_ex_mort", "total_bc_limit", "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"]

target= "loan_status"

In [27]:
# Convert categorical da[ta to numeric and separate target feature for testing data
x_train = train_df.drop(['loan_status', 'Unnamed: 0', 'index'], axis=1)
y_train = train_df[target]

x_train_dummies=pd.get_dummies(x_train)
x_train_dummies.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,0.0,39728.0,...,0,1,0,1,1,0,1,0,1,0
1,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,0.0,9585.0,...,0,1,0,1,1,0,1,0,1,0
2,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,0.0,16708.0,...,0,1,0,1,1,0,1,0,1,0
3,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,1.0,8809.0,...,0,1,0,1,1,0,1,0,1,0
4,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,0.0,65420.0,...,0,1,0,1,1,0,1,0,1,0

In [28]:
# add missing dummy variables to testing set
x_test = test_df.drop(['loan_status', 'Unnamed: 0', 'index'], axis=1)
y_test = test_df[target]

x_test_dummies=pd.get_dummies(x_test)
x_test_dummies.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,0.0,9471.0,...,0,0,1,0,1,1,0,1,0,1
1,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,0.0,1280.0,...,0,0,1,0,1,1,0,1,0,1
2,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,0.0,4757.0,...,0,0,1,0,1,1,0,1,0,1
3,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,0.0,12731.0,...,0,0,1,0,1,1,0,1,0,1
4,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,0.0,10413.0,...,0,0,1,0,1,1,0,1,0,1

In [38]:
for i in x_train_dummies.columns:
    if i not in  x_test_dummies.columns:
        x_test_dummies[i]=0

In [39]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.model_selection import train_test_split



from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

classifier

classifier.fit(x_train_dummies, y_train)
print(f"Training Data Score: {classifier.score(x_train_dummies, y_train)}")
print(f"Testing Data Score: {classifier.score(x_test_dummies, y_test)}")

Training Data Score: 0.6508210180623973
Testing Data Score: 0.5168013611229264

C:\Users\abbyk\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [42]:
# Train a Random Forest Classifier model and print the model score

clf = RandomForestClassifier(random_state=1, n_estimators=50).fit(x_train_dummies, y_train)
print(f'Training Score: {clf.score(x_train_dummies, y_train)}')
print(f'Testing Score: {clf.score(x_test_dummies, y_test)}')

Training Score: 0.9999178981937603
Testing Score: 0.6412165036154828

In [46]:
# Scale the data

scaler = StandardScaler().fit(x_train_dummies)
X_train_scaled = scaler.transform(x_train_dummies)
X_test_scaled = scaler.transform(x_test_dummies)

In [48]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier = LogisticRegression()


classifier.fit(X_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.7078817733990148
Testing Data Score: 0.767333049766057

C:\Users\abbyk\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [50]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf2 = RandomForestClassifier(random_state=1, n_estimators=50).fit(X_train_scaled, y_train)
print(f'Training Score: {clf2.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf2.score(X_test_scaled, y_test)}')

Training Score: 0.9999178981937603
Testing Score: 0.6420672054444917